.pwdWrap {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 280px;
  width: 100%;
  input {
    border: 1px solid #b2b2b2;
    box-sizing: border-box;
    border-right: none;
    width: 42px;
    height: 42px;
    font-size: 18px;
    padding-left: 15px;
    &:last-of-type {
      border-right: 1px solid #b2b2b2;
    }
  }
}
.pwdWrapOut {
  margin: 40px auto 0 auto;
  width: 252px;
}
.forget {
  color: #007aff;
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #333, $alpha: 0.8);
  z-index: 99;
}
.bankWrap {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 280px;
  bottom: 0px;
  font-size: 16px;
  overflow: scroll;
  .choose {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    height: 44px;
    border-bottom: 1px solid #eee;
    position: fixed;
    bottom: 280px;
    left: 0px;
    i {
      font-size: 22px;
      color: #ddd;
    }
  }
  ul {
    list-style-type: none;
    padding: 0px 20px;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eee;
      color: #333;
      padding: 10px 0px;
      i {
        color: #ff6200;
        font-size: 20px;
      }
    }
  }
  .gray {
    color: #999;
    font-size: 14px;
    margin-top: 5px;
  }
}
.addBtn {
  border: 1px solid #ddd;
  color: #666;
  border-radius: 5px;
  padding: 18px 0px;
  margin: 30px 20px;

  span {
    font-size: 30px;
    margin-top: -6px;
    margin-right: 5px;
  }
}
.disc {
  position: relative;
  z-index: 10;
  -webkit-text-security:disc;
  -webkit-appearance: none;
  border-radius: 0px;
  text-align: center;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #b2b2b2;
  border-left: none;
  font-size: 18px;
  &:first-of-type{
    border-left: 1px solid #b2b2b2;
  }
}
.tit {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.inputWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 46px;
  position: relative;
  z-index: 1;
}
.pwdMask {
  height: 48px;
  width: 100%;
  background: #ff0;
  position: absolute;
  z-index: 9999;
  opacity: 0;
}
.inputPwd {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  z-index: -1;
  text-indent: -999em;
  margin-left: -100%;
}

.leftArrow {
  position: absolute;
  left: 20px;
  width: 18px;
}

